@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: sans-serif;
  background: #010409;
  color: #fff;
  cursor: none;
}

body {
  position	: relative;
  height	: 100vh;
  overflow	: auto;
}

#main {
  max-width: 550px;
  margin: 0 auto;
}

#skew {
  transform: skew(160deg);
}

.link-arrow:hover {
    color: #49CF74;
    rotate: -30deg;
 }